#box{height: 100px;width: 100px;margin: 150px auto;background-image: url(../image/ec.jpg);background-size: cover;}
#box1{height: 19px;width: 541px;background-image: url(../image/111.png);position: relative;margin: 50px auto;}
#box2{height: 13px;width: 46px;background-image: url(../image/222.png);position: absolute;left: 30px;top:3px;cursor: pointer;}